<div style="width:100%; height:100%; margin:20px;" class="{{theme}} mat-app-background"> 

  <div>  

    <label id="example-radio-group-label">Pick your favorite theme</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group mat-app-background {{theme}}"
      [(ngModel)]="theme">
      <mat-radio-button class="example-radio-button" *ngFor="let theme of themes" [value]="theme">
        {{theme}}
      </mat-radio-button>
    </mat-radio-group>
    <label >You selected theme: {{theme}}</label>
  
  </div>
  <div style="width:80%; height:80%; margin:20px;">
    <mat-card class="theme" style="margin:5px; ">
      <span>Sample Heading Text</span>
    </mat-card>
    <mat-toolbar class="toolbar-touchups" color="primary">
      <span>Primary</span>
      <span style="flex:auto;"></span>
    </mat-toolbar>
    <mat-toolbar class="toolbar-touchups" color="accent">
      <span>Accent</span>
      <span style="flex:auto;"></span>
    </mat-toolbar>
    <mat-toolbar class="toolbar-touchups" color="warn">
      <span>Warn</span>
      <span style="flex:auto;"></span>
    </mat-toolbar>
  </div>
</div>

